<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
    <meta charset="UTF-8">

        <title>Базовый шаблон</title>

</head>
<body>
    {% block content -%}
    <ul>
        <li><a href="">Главная</a></li>
        <li><a href="profile">Профиль</a></li>
        <li><a href="login">Авторизоваться</a></li>
        <li><a href="discipline">Дисциплины</a></li>
        <li><a href="trajectory">Траектории</a></li>
    </ul>

    {% endblock -%}
</body>
</html>