{% extends 'base.html' -%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content -%}
    {{super()}}
<form action="" method="POST">



        <div class="disciplines_check">
            Базовые дисциплины
            {% for item in b_disciplines %}
            {{item}}<input type="checkbox" value = '{{item}}' name="my_checkbox"><br>
                {% endfor %}
            Элективные дисциплины
            {% for item in e_disciplines %}
            {{item}}<input type="checkbox" value = '{{item}}' name="my_checkbox"><br>
                {% endfor %}
            <button name="page" value="main" type="submit">Сохранить дисциплины</button>
      </div>



</form>

    {% endblock -%}


</body>
</html>